<!doctype html>

<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />

  <title>Contacts</title>
  <meta name="description" content="Contacts">
  <meta name="author" content="Denys Medvedskyi">
</head>

<body>
  <div id="bookstore">
    <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
  </div>
  <h1>Contacts</h1>
  <p><b>Name</b>:Denys Medvedskyi<br>
    <b>Telephone</b>:066-44-60-23-4<br>
  <a href="/">Home</a></p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586303.3058188139!2d29.717582715082898!3d50.62454970506287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d0fc0002dc23%3A0x932da84412e98659!2z0KXRgNC40YHRgtC40Y_QvdGB0YzQutC40Lkg0LzQsNCz0LDQt9C40L0gItCa0L7RgNC40YHQvdCwINC60L3QuNCz0LAi!5e0!3m2!1suk!2sua!4v1479518368189" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe><br>


</body>
</html>
