<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="../css/index.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>Log In</title>
</head>
<body>
  <div class="home">
    <div id="bookstore">
      <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
    </div>
  </div>
  <div class="regContent">
    <form method="post" accept-charset="UTF-8">
      <div id="regInsideContent">
      <div class="regField">
        <label>Login:</label>
        <input type="text" name="username">
      </div>
      <div class="regField">
        <label>Password:</label>
        <input type="password" name="password">
      </div>
      <div class="regField">
        <input id="submitButt" type="submit" value="Sign In!">
      </div>
    </div>
    </form>
    <a class="loginLink" href="forgotpassword">Forgot password?</a>
    <a class="loginLink" href="register">Registration</a><br><br><br>
                <a href="/">Home</a>

  </div>
  <div id="footter">
    <p id="copyrights">by Medvedskyi Denys 2016</p>
  </div>
</body>
</html>
