<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
</head>
  <body>
    <div id='content'>
      <form enctype="multipart/form-data" method="post">
         <p>Choose .jpeg file to change avatar<br><input type="file" name="avatar" accept="image/jpeg"><br>
         <input type="submit" value="Submit"></p>
      </form>
</div>
<footer>
  <p id="co">by Medvedskyi Denys 2016</p>
</footer>
</body>

</html>
