body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  //background: #3E3;
  background-image: url(../pics/pills.jpg);
  background-color: #c7b39b; /* Цвет фона */
}
a {
  color: black;
}
a:hover {
  color: #3A3;
}



.home {
  width: 100%;
  border: solid 1px black;
  height: 150px;
  overflow: hidden;
}
 #pharmacyName {
  width: 80%;
  background: #3A3;
  float: left;
  height: 150px;
 }
 #logInField {
  width: 20%;
  background: #008000;
  float: left;
  height: 150px;
  text-align: right;
 }
 .loginLink {
   color: black;
 }
 .loginLink:hover {
   color: #3A3;
 }
 .loginForm {
   margin-right: 20px;
   margin-top: 20px;
 }




 .content {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   background: #FFF;
   height: 550px;
   border: solid 1px black;
 }
 #insideContent {
   padding-top: 8px;
   width: 25%;
   height: 100%;
   text-align: right;
 }
 .regField {
   padding: 7px;
 }
 #sexLabel {
   margin-left: 15px;
 }
 #submitButt {
   margin-left: 15px;
 }


 #bottomOfSite{
   border: solid 1px black;
   float: left;
   width: 100%;
   background-color: #008000;
 }
 #rights {
   text-align: center;
 }


 .successContent {
   font-size: 25px;
   margin-left: 5px;
   padding: 7px;
 }
.successContent a {
  font-size: 20px;
}
